[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
motor = "*"
qrcode = "*"
schema = "*"
pillow = "*"

[dev-packages]
yapf = "*"
pytest = "*"
pytest-aiohttp = "*"
rope = "*"

[requires]
python_version = "3.6"
